*.class

# Package Files #
*.jar
*.war
*.ear

logs
/nbproject
/.idea
/src/img/not_needed/*
*.iml
*.iws
*.ipr
/out
/.idea_modules
.metadata
/.classpath
/.project
/RUNNING_PID
/.settings
.shell_history
target/
.gradle/
build/
/dist/